* {
  box-sizing: border-box;
}

body {
  background-color: rgb(177, 147, 147);
}

.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-control {
  position: relative;
  width: 500px;
  max-width: 100%;
}

.form-control input {
  /* border: 2px solid #f0f0f0;
    border-radius: 4px;
    padding: 0.4rem;
    font-size: 0.9rem; */

  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
}
.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: -1.5rem;
  left: 40%;
  font-size: 1.1rem;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form-control input::placeholder {
  color: grey;
}

.form-control .btn {
  position: absolute;
  top: 5px;
  right: 3px;
  background-color: #352f5b;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-family: 16px;
  padding: 13px 30px;
  cursor: pointer;
}

ul.todos {
  list-style-type: none;
  text-align: justify;
  /* width: 80%; */
  margin-top: 4rem;
  padding: 2rem;
}

ul.todos li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid #e6e6e66b;
  box-shadow: 5px 5px 10px #9191916b;
}

ul.todos li p {
  font-size: 1.2rem;
  margin-left: 1.2rem;
}


ul.todos li.completed {
  border-right: 10px solid green;
}

input[type="checkbox"] {
  background-color: red;
  position: absolute;
  left: 10px;
}

.btn-danger {
  background-color: #9b1010;
  color: #fff;
  font-weight: bolder;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}

